* {
  box-sizing: border-box;
  cursor: url("lol1.png"), auto;

}

body, html {
  margin: 0;
  height: 100%;
}

body:after, .sections:after {
  content: "";
   display: table;
   clear: both;
 }

.item {
  float: left;
   border: thin solid blue;
}

#menu {
  border: thin solid black;
}

/* CLEARFIX */
#menu:after {
  content: "";
  display: table;
  clear: both;
}

.subitem { border: thin solid red; }

.submenu { display: none;}

.item:hover .submenu {
    display: block;
    position: absolute;
    width: auto;
}


.col {

  width: 33.333333333%;
  float: right;
  overflow: hidden;
  z-index: 1;
}

.playground {

  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.top-menu {
  border: thin solid black;
}

#columna-izquierda {
background-image: url("noxus.jpg");
background-repeat: no-repeat;
background-size: cover;
color: green;
z-index: 1;
}

#columna-derecha {
background-image: url("noxus.jpg");
background-repeat: no-repeat;
background-size: cover;
color: green;
z-index: 1;

}

#fila-1 {
background-color: gray;
background-repeat: no-repeat;
background-size: cover;
padding: 2em;
background-image: url("borde2.png");
color: white;
}

#columna-medio {
background-color: gray;
background-repeat: no-repeat;
background-size: cover;
padding: 2em;
background-image: url("borde1.png");
color: white;
}

#fila-3 {
background-color: gray;
background-repeat: no-repeat;
background-size: cover;
background-image: url("borde.png");
width: 33.333333333%;
padding: 2em;
color: white;
}

#fila-2 {
background-repeat: no-repeat;
background-size: cover;
content:url("League_of_draven.png");
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: left;
   background-image: url("borde2.png");
   background-repeat: no-repeat;
   background-size: cover;
   padding: 10px;
 }

.gallery {
width: 70%;
margin: 0 auto;
background-color: white;
}

.gallery:after {
    content: "";
    display: block;
    clear: both;
}

.gallery img {
  width: 33.333333%;
  float: left;
  padding: 20px;
}

.habilidades {
  text-align: left;
  padding: 10px;
  background-color: gray;
  padding-bottom: 100px;
}

.video {
  padding-left: 10px;
}
